body {
  margin: 100;
  font-family: "lato", sans-serif;
  color: #1e1e1e;
  background-color: #ffffff;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  margin-bottom: 0.5em;
}
h1,
.h1 {
  font-size: 48px;
}

h2,
.h2 {
  font-size: 38px;
}

h3,
.h3 {
  font-size: 34px;
}

h4,
.h4 {
  font-size: 28px;
}

h5,
.h5 {
  font-size: 22px;
}

h6,
.h6 {
  font-size: 16px;
}

button,
.btn {
  display: inline-block;
  padding: 0 16px;
  background-color: #de5f25;
  text-decoration: none;
  color: white;
  border: 1px solid #6e6464;
  line-height: 2;
  text-transform: uppercase;
  font-family: 'Helvética', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
}

button:hover,
.btn:hover {
  background-color: #151414;
}

.btn--secondary {
  background-color: #dadada;
  color: #1e1e1e;
}
.btn--secondary:hover {
  background-color: white;
}


code {
  background-color: #e1e1e1;
  font-weight: 400;
  padding: 0 8px;
  font-size: 0.8em;
  font-family: 'Lato', monospace;