body {
  margin: 100;
  font-family: "lato", sans-serif;
  color: #1e1e1e;
  background-color: #ffffff;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  margin-bottom: 0.5em;
}
h1,
.h1 {
  font-size: 46px;
}

h2,
.h2 {
  font-size: 40px;
}

h3,
.h3 {
  font-size: 34px;
}

h4,
.h4 {
  font-size: 28px;
}

h5,
.h5 {
  font-size: 22px;
}

h6,
.h6 {
  font-size: 16px;
}

button,
.btn {
  display: inline-block;
  padding: 0 16px;
  background-color: #de5f25;
  text-decoration: none;
  color: white;
  border: 1px solid #6e6464;
  line-height: 2;
  text-transform: uppercase;
  font-family: 'Helvética', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
}

button:hover,
.btn:hover {
  background-color: #151414;
}

.btn--secondary {
  background-color: #dadada;
  color: #1e1e1e;
}
.btn--secondary:hover {
  background-color: white;
}


code {
  background-color: #e1e1e1;
  font-weight: 400;
  padding: 0 8px;
  font-size: 0.8em;
  font-family: 'Lato', monospace;
}

/* Colors */
.color-orange {
  color: #fca311ff;
}
.bg-color-orange {
  background-color: #fca311ff;
}

.color-orange-3 {
  color: #e59b34fe;
}
.bg-color-orange-3 {
  background-color: #e59b34fe;
}

.color-blue {
  color: #14213dff;
}
.bg-color-blue {
  background-color: #14213dff;
}

.color-blue-3 {
  color: #295472;
}
.bg-color-blue-3 {
  background-color: #295472;
}

.color-black {
  color: #000000ff;
}
.bg-color-black{
  background-color: #000000ff;
}

.color-platinum {
  color: #e5e5e5ff;
}
.bg-color-platinum {
  background-color: #e5e5e5ff;
}

.color-white {
  color: #ffffffff;
}
.bg-color-white {
  background-color: #ffffffff;
}

.pattern-content {
  max-width: 800px;
  padding: 16px;
  margin: 16px auto;
  background-color: white;
  border-radius: 8px;
}

.pattern-section {
  margin-bottom: 64px;
}

.pattern-color {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
}

.pattern-color:before {
  content: attr(data-color);
  background-color: rgba(0,0,0,0.2);
  display: block;
  color: white;
  text-align: center;
}

.pattern-title {
  border-bottom: 1px solid #e1e1e1;
  opacity: 0.6;
}

[data-header]:before {
  content: attr(data-header) ": ";
}